.dashboard {
  flex-direction: column;
  position: relative;
}

.dashboard .content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 10rem 24rem 0px;
}

.dashboard .button-add {
  padding: 1.6rem 0px;
  border-radius: 8px;
  max-width: 20rem;
  align-self: center;

  font-weight: 700;
  font-size: 1.6rem;
  line-height: 19px;

  background-color: var(--background-button-1);

  margin-bottom: 3rem;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 1000px) {
  .dashboard .content{
    padding: 1rem
  }
}