.login .aside-image {
  display: flex;
  width: 50vw;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/aside-login.png");
}

.login-content {
  width: 50vw;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .welcome {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
}

.login form {
  width: 47.6rem;
}

.login .form-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.8rem;

  margin-bottom: 3rem;
}

.login .inputs {
  gap: 1.6rem;
  margin-bottom: 7rem;
}

.login button {
  width: 100%;
  padding: 1.6rem 0;

  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;

  margin-bottom: 9.5rem;
  background-color: var(--background-button-1);
}

.login a {
  text-decoration: none;
  color: var(--link-color-1);
}

@media (max-width: 768px) {
  .login {
    max-height: 100vh;
  }

  .login .aside-image {
    display: none;
  }

  .login-content {
    width: 100vw;
  }

  .login form {
    width: 100%;
  }

  .login .inputs {
    align-self: center;
  }
}
