.title-container {
  display: flex;

  width: 100%;
  padding: 16px 32px;
  background-color: var(--background-color-1);

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-font-1);
}

.title-container span {
  width: 30%;
}
