.header {
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  padding: 24px 26px;
  background-color: var(--background-header-1);
}

.logoff {
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-image: url(../../assets/icons/logoff.svg);
}

.logoff:hover {
  background-image: url(../../assets/icons/logoff-hover.svg);
}

